//- div(ng-include='"components/navbar/navbar.html"')

.jumbotron
  .container.login-splash
    .row
      .col-xs-12.col-sm-6
        img(src='assets/images/math-tree.jpg', alt='Math is easy', width='100%')

      .col-xs-12.col-sm-6
        div
          h2 R.S. Tuition Centre
          a.btn.btn-facebook(href='', ng-click='loginOauth("facebook")')
            i.fa.fa-facebook
            |  Login with Facebook
          = ' '

div(ng-include='"components/footer/footer.html"')


