div(ng-include='"components/navbar/navbar.html"')

div.content

  ul.tabs
    li(ng-repeat='item in tabs')
      a(ng-href='{{item.link}}')
        img(src="http://placehold.it/120x120")
        p
          {{item.title}}

div(ng-include='"components/footer/footer.html"')
