div(ng-include='"components/navbar/navbar.html"')



footer.footer
  .container
    p
      = ' Built with <3 for R.S.L. by '
      a(href='https://twitter.com/srrvnn') @srrvnn
      = ' | '
      a(href='https://github.com/srrvnn/rstc/issues?state=open') Issues
